:host {
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1320px;
  min-width: 320px;
  min-height: 100vh;
}

.main {
  flex: 1;
  width: 100%;
}

@media screen and (min-width: 576px) {
  :host {
    padding: 32px 64px;
  }
}

@media screen and (min-width: 1024px) {
  :host {
    padding: 32px 128px;
  }
}
