<div class="settings">
  <section class="settings__section">
    <h3 class="settings__title">GAME SETTINGS</h3>
    @for (setting of settingsService.gameSettings(); track $index; let gi = $index) {
      <div class="settings__section__grid">
        <div class="settings__section__group">
          <div class="settings__section__group__info">
            <span class="settings__section__group__text">{{ setting.settingTitle }}</span>
            <app-tooltip [description]="setting.description" />
          </div>
          <app-button-options
            [selectedOption]="setting.selectedOption"
            [options]="setting.options"
            [onClick]="(option) => handleGameSettingOptionClick(gi, option)"
          />
        </div>
      </div>
    }
  </section>
  <section class="settings__section">
    <h3 class="settings__title">SOUND SETTINGS</h3>
    @for (setting of settingsService.soundSettings(); track $index; let gi = $index) {
      <div class="settings__section__grid">
        <div class="settings__section__group">
          <div class="settings__section__group__info">
            <span class="settings__section__group__text">{{ setting.settingTitle }}</span>
            <app-tooltip [description]="setting.description" />
          </div>
          <app-input-volume
            [volume]="setting.volume"
            [onClick]="(volume) => handleSoundSettingOptionClick(gi, volume)"
          />
        </div>
      </div>
    }
  </section>
  <div class="settings__buttons">
    <app-button [onClick]="() => navigateTo('')">BACK</app-button>
  </div>
</div>
